/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .navbar .has-megamenu{position:static!important;}
    .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }
  
  }	
  /* ============ desktop view .end// ============ */
  
  /* ============ mobile view ============ */
  @media(max-width: 991px){
    .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
      overflow-y: auto;
        max-height: 90vh;
        margin-top:10px;
    }
  }
/* extra small device */
  @media (min-width: 320px) and (max-width: 575px) {
    /* ===========================================
                    header part start
    ==============================================*/
    header .header_icons {
      flex-wrap: wrap;
      padding: 10px 0;
    }
    header .header_icons .button {
      margin-top: -5px;
    }
    /* ===========================================
                    header part end
    ==============================================*/

    /* ===========================================
                    header part start
    ==============================================*/
    .navbar-toggler:focus {
      box-shadow: none;
    }
    nav button {
      background: none;
      border: 1px solid #d93800 !important;
      color: #d93800;
      padding:5px 10px !important;
      border-radius: 0 !important;
      text-decoration: none;
    }
    .navbar-toggler {
      padding: 0;
      font-size: 16px;
      line-height: 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: .25rem;
    }
    .navbar-toggler i {
      margin-top: 4px;
    }
    nav ul {
      margin-top: 25px;
    }
    nav ul li {
      margin-top: 0 !important;
    }
    nav ul li a {
      padding: 10px 15px !important;
      font-size: 13px;
      border-top: none;
    }
    nav ul li a:hover{
      background: rgba(79, 191, 168, 0.5) !important;
    } 
    .megamenu{
      max-width: 100%;
    }
    /* ===========================================
                    header part end
    ==============================================*/

    /* ===========================================
                    banner part start
    ==============================================*/

    #banner_part .overlay .banner_slider .slider .slider_item{
      display: block;
    }
    #banner_part .overlay .banner_slider .slider .slider_item .img_part{
      width: 100%;
  }
  #banner_part .overlay .banner_slider .slider .slider_item .text_part{
    text-align: center;
    width: 100%;
  }
  #banner_part .overlay .banner_slider .slider .slider_item .text_part a{
    margin-bottom: 20px;
  }
  /* ===========================================
                    banner part start
    ==============================================*/

    /* =============================================
                footer_bottom_part part start
================================================*/
#footer_bottom .text p{
  text-align: center;
}

#footer_bottom .row_text .big_text p{
  text-align: center;
}
#footer_bottom .row_text .big_text .bottom_p{
  text-align: center;
  width: 100%;
  margin-bottom: -2px;
}
/* =============================================
                footer_bottom_part part end
================================================*/
}
/* small device */

@media (min-width: 576px) and (max-width: 767px) {
  /* ===========================================
                  header part start
  ==============================================*/
  header .header_icons {
    flex-wrap: wrap;
    padding: 10px 0;
  }
  header .header_icons .button {
    margin-top: -5px;
  }
  /* ===========================================
                  header part end
  ==============================================*/

  /* ===========================================
                  header part start
  ==============================================*/
  .navbar-toggler:focus {
    box-shadow: none;
  }
  nav button {
    background: none;
    border: 1px solid #d93800 !important;
    color: #d93800;
    padding:5px 10px !important;
    border-radius: 0 !important;
    text-decoration: none;
  }
  .navbar-toggler {
    padding: 0;
    font-size: 16px;
    line-height: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .navbar-toggler i {
    margin-top: 4px;
  }
  nav ul {
    margin-top: 25px;
  }
  nav ul li {
    margin-top: 0 !important;
  }
  nav ul li a {
    padding: 10px 15px !important;
    font-size: 13px;
    border-top: none;
  }
  nav ul li a:hover{
    background: rgba(79, 191, 168, 0.5) !important;
  } 
  .megamenu{
    max-width: 100%;
  }
  /* ===========================================
                  header part end
  ==============================================*/

  /* ===========================================
                  banner part start
  ==============================================*/

  #banner_part .overlay .banner_slider .slider .slider_item{
    display: block;
  }
  #banner_part .overlay .banner_slider .slider .slider_item .img_part{
    width: 100%;
}
#banner_part .overlay .banner_slider .slider .slider_item .text_part{
  text-align: center;
  width: 100%;
}
#banner_part .overlay .banner_slider .slider .slider_item .text_part a{
  margin-bottom: 20px;
}
/* ===========================================
                  banner part start
  ==============================================*/

  /* =============================================
              footer_bottom_part part start
================================================*/
#footer_bottom .text p{
text-align: center;
padding-bottom: 20px;
}

#footer_bottom .row_text .big_text p{
text-align: center;
}
.row{
  display: block;
}
.col-sm-6 {
	width: 100%;
}
#footer_bottom .row_text .big_text .bottom_p{
text-align: center;
width: 100%;
margin-bottom: -2px;
}
/* =============================================
              footer_bottom_part part end
================================================*/
}

/* medium device */
@media (min-width: 768px) and (max-width: 991px) {
  /* ===========================================
                  header part start
  ==============================================*/
  header .header_icons {
    flex-wrap: wrap;
    padding: 10px 0;
  }
  header .header_icons .button {
    margin-top: -5px;
  }
  /* ===========================================
                  header part end
  ==============================================*/

  /* ===========================================
                  header part start
  ==============================================*/
  .navbar-toggler:focus {
    box-shadow: none;
  }
  nav button {
    background: none;
    border: 1px solid #d93800 !important;
    color: #d93800;
    padding:5px 10px !important;
    border-radius: 0 !important;
    text-decoration: none;
  }
  .navbar-toggler {
    padding: 0;
    font-size: 16px;
    line-height: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .navbar-toggler i {
    margin-top: 4px;
  }
  nav ul {
    margin-top: 25px;
  }
  nav ul li {
    margin-top: 0 !important;
  }
  nav ul li a {
    padding: 10px 15px !important;
    font-size: 13px;
    border-top: none;
  }
  nav ul li a:hover{
    background: rgba(79, 191, 168, 0.5) !important;
  } 
  .megamenu{
    max-width: 100%;
  }
  /* ===========================================
                  header part end
  ==============================================*/

   /* ===========================================
                  banner part start
  ==============================================*/
.row{
  display: flex !important;
}
     /* ===========================================
                  banner part end
  ==============================================*/

  /* =============================================
              footer_bottom_part part start
================================================*/
#footer_bottom .text p{
text-align: center;
padding-bottom: 20px;
}

#footer_bottom .row_text .big_text p{
text-align: center;
}
.row{
  display: block;
}
.col-sm-6 {
	width: 100%;
}
#footer_bottom .row_text .big_text .bottom_p{
text-align: center;
width: 100%;
margin-bottom: -2px;
}
/* =============================================
              footer_bottom_part part end
================================================*/
}

/* large device */

@media (min-width: 992px) and (max-width: 1199px){
/* ===========================================
                  header part start
  ==============================================*/
nav{
  margin-top: -8px;
  margin-bottom: -8px;
}
  nav ul li{
    margin-top: 0 !important;
}
  /* ===========================================
                  header part end
  ==============================================*/

}